 <main class="detailpage">
    <h1>Mijn werkstuk over KLM</h1>
    <img src="https://blog.klm.com/assets/uploads/2019/07/headerfb-768x510.png">

            <section>
                <div>
                    <section id="nogrid"><h2>
                        Video
                    </h2></section>
                    <ul>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
</ul>
                </div>
                <div>
                    <section id="nogrid"><h2>
                        Audio
                    </h2></section>
                    <ul>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
</ul>
                </div>
                <div>
                    <section id="nogrid"><h2>
                        Afbeeldingen
                    </h2></section>
                    <ul>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
</ul>
                </div>
                <div>
                    <section id="nogrid"><h2>
                        Teksten
                    </h2></section>
                    <ul>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
    <a href=""><li>Bron</li></a>
</ul>
                </div>
            </section>
    
    </main>
