
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Je bent offine!</h2>
    </div>
    <div class="modal-body">
      <p>Het lijkt erop dat je een geen verbinding hebt met het internet.</p>
      <p>Hou er rekening mee dat niet alle onderdelen van de applicatie goed werken!</p>
    </div>
    <div class="modal-footer">
      <h3>Klik ergens op het scherm om dit bericht te verwijderen</h3>
    </div>
  </div>

</div>