<header>
      <nav class="main-navigation">

        <ul>
          <li>       <a href="https://www.obajunior.nl">
        <img id="logo" src="./images/logo/logo.66b1d35.png" alt="Oba Junior">
      </a></li>
          <li><a href="/">Nieuw Werktstuk</a></li>
          <li><a href="/mijnwerkstukken">Mijn Werkstukken</a></li>
          <li><a href="/mijninstellingen">Mijn Instellingen</a></li>
          <li><a href="/hoemaakikeenwerkstuk">Hulp nodig?</a></li>
          <li>              <section id="fontcontroller">
            <h6>Lettertype te klein?</h6>
        <button type="button" onclick="smallerFont()">Kleiner</button>
        <button type="button" onclick="biggerFont()">Groter</button>
      </section></li>
        </ul>
      </nav>

      </header>
      