<header>
      <nav class="main-navigation">
       <a href="https://www.obajunior.nl">
        <img id="logo" src="./images/logo/logo.66b1d35.png" alt="Oba Junior">
      </a>
        <ul>
          <li><a href="/">Nieuw Werktstuk</a></li>
          <li><a href="/mijnwerkstukken">Mijn Werkstukken</a></li>
          <li><a href="/mijninstellingen">Mijn Instellingen</a></li>
          <li><a href="/hoemaakikeenwerkstuk">Hulp nodig?</a></li>
        </ul>
      </nav>
      </header>