<main class="grid">
    <section id="except">
    <div>
        <h2>Werkstuk over Dieren</h2>
            <img src="https://www.scientias.nl/wp-content/uploads/2019/10/Stokstaartje.jpg" alt="">
            <p>Dit werkstuk bevat 5 bronnen</p>
            <a class="button" href="#werkstuk">Bekijken</a class="button" href="#werkstuk">
        </div>
    </section id="except">
    <section id="except">
        <div>
            <h2>Werkstuk over Audi</h2>
            <img src="https://static.autoblog.nl/images/wp2019/Audi-RS-Q8-1.jpg" alt="">
            <p>Dit werkstuk bevat 4 bronnen</p>
            <a class="button" href="#werkstuk">Bekijken</a class="button" href="#werkstuk">
        </div>
    </section id="except">
    <section id="except">
        <div>
            <h2>Werkstuk over KLM</h2>
            <img src="https://www.zakenreisnieuws.nl/sites/default/files/styles/artikel/public/website_633x300/slider-airlines/klm_boeing_777_c_reismedia_1280_3.jpg?itok=3oCJnMGr" alt="">
            <p>Dit werkstuk bevat 6 bronnen</p>
            <a class="button" href="#werkstuk">Bekijken</a class="button" href="#werkstuk">
        </div>
    </section id="except">
    <section id="except">
        <div>
            <h2>Werkstuk over Kaas</h2>
            <img src="https://images.squarespace-cdn.com/content/v1/5a1592ff0abd04e470d48744/1512553461588-BZ9X4L2F5CINL2DU8QTF/ke17ZwdGBToddI8pDm48kPQujXO7frs1W7a77FZyt1F7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0prfa1Z6IeUrCPboCAmmHZn3ZVtqnTHXt-4Tm3byPSNDpHfFtqjKxWw0uc1YBtkl-w/Kaas.jpeg?format=2500w" alt="">
            <p>Dit werkstuk bevat 10 bronnen</p>
            <a class="button" href="#werkstuk">Bekijken</a class="button" href="#werkstuk">
        </div>
    </section id="except">
    <section id="except">
        <div>
            <h2>Werkstuk over Donald Duck</h2>
            <img src="https://www.muurstickerplus.nl/media/product/533/donald-duck-8e9.jpg" alt="">
            <p>Dit werkstuk bevat 3 bronnen</p>
            <a class="button" href="#werkstuk">Bekijken</a class="button" href="#werkstuk">
        </div>
    </section id="except">
    <section id="except">
        <div>
            <h2>Werkstuk over Europese Unie</h2>
            <img src="https://dwars.org/overdwars/wp-content/uploads/sites/3/2017/09/EU-flag-heart-e1506168926664.jpg" alt="">
            <p>Dit werkstuk bevat 0 bronnen</p>
            <a class="button" href="#werkstuk">Bekijken</a href="#werkstuk">
        </div>
    </section id="except">
</main>